# === Terraform 生成物 ===
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfplan
.terraform.lock.hcl
.devcontainer/certs/*

# === 復号ファイル（コミット禁止）===
**/*.dec.tfvars

# === ローカル/CI 生成物 ===
.DS_Store
.venv
node_modules/
dist/
target/
artifacts/
coverage/

# === 鍵ファイル ===
security/keys/*
!security/keys/.gitkeep
